{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
{% if app.user %}
        <div class="mb-3">
            Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
<h1>Modifier mon mot de passe</h1>
-<a href="{{path('account')}}">Retourner à mon compte</a><br/>
<hr>
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{form(form)}}
<hr>
{% endblock %}