{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe
{% endblock %}

{% block body %}
{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('base') }}
<script type="text/javascript">
var border = document.getElementById('col1');
window.onresize=resize;
resize();
function resize(){
	var s = window.innerWidth;
	if(s<576){
		col1.style.border='none';

	}else{
		col1.style.borderRight='solid';
	}
}
</script>
{% endblock %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="./">Accueil</a>
			</li>
			<li class="breadcrumb-item">Offres d'emploi</li>
		</ol>
	</nav>
	<div class="d-flex justify-content-center" id="modif_infos" style="font-size:48px;font-weight:700;font-family:Helvetica">Modifier les informations
	</div>

	<div class="container shadow-sm py-5 px-5 my-5 bg-white rounded text-center" id="txt-client" style="font-family:Montserrat Bold;font-size:14px">
		<div class="row">
			<div class="col-sm-6 pe-5" id="col1">
				{{ form_start(form) }}
				{{form_row(form.old_password)}}
				{{form_row(form.mail)}}
				{{form_row(form.prenom)}}
				{{form_row(form.nom)}}
				{{form_row(form.telephone)}}
				{{form_row(form.adresse)}}
				{{form_row(form.ville)}}
				{{form_row(form.codePostal)}}
			</div>
			<div class="col-sm-6 ps-5" id="artisan-form-cont">
				{{form_row(form.new_password)}}
				{{form_row(form.new_mail)}}
				{{form_row(form.new_prenom)}}
				{{form_row(form.new_nom)}}
				{{form_row(form.new_tel)}}
				{{form_row(form.new_adresse)}}
				{{form_row(form.new_ville)}}
				{{form_row(form.new_cp)}}
				{{form_row(form.submit)}}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<style>

		.registersubmit {
			background-color: #E6C9A5 !important;
			color: black !important;
			font-weight: 700;
			font-family: "Montserrat Bold";
			font-size: 18px;
			border-radius: 30px !important;
			width: 192px !important;
			height: 42px !important;

		}
		#txt-client {
			margin-top: 25px !important;
		}
		#col1 {
			border-right: solid;
		}
		#modif_infos {
			margin-top: 100px;
			margin-bottom: 0;
			color: #95683E;
		}
	</style>
{% endblock %}
