{% extends 'base.html.twig' %}


{% block title %}Espace client
{% endblock %}
{% block body %}
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.username }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% else %}
		{#texte espace client #}

		<div class="container shadow-sm p-5 my-10 bg-white rounded" id="txt-client">
			<div class="row">
				<div class="d-flex justify-content-center" id="espace-client">Espace client</div>
			</div>
			<div class="row">
				<div class="col-sm-6" id="txt1">
                Nous avons créé un espace dédié à nos clients.
Vous pourrez retrouver sur celui-ci vos différents devis en cours.

Vous n’avez pas encore de compte client?
                </div>
                
                {#
                <div class="col-sm-1 col-md-2">
                </div>
                #}
                <div class="col-sm-6" id="txt2">
                Nous vous invitons à vous inscrire via notre formulaire de contact ci-dessous. Notre équipe commerciale se fera un plaisir de vous recontacter pour vous orienter dans votre projet. Découvrez notre large gamme de service et profitez d’avantages privilégiés au quotidien !
                </div>
			</div>
		</div>
		{# container pour login et register#}
		<div class="container shadow-sm p-5 my-5 bg-white rounded" id="client-form-cont">
			<div class="row">
				<div
					class="col-sm-3 col-md-4">
					{# pour se co #}
					<form method="post" name="loginform">
						<h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
						<label for="inputEmail">Votre email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse mail" autocomplete="email" required autofocus>
						<label for="inputPassword">Votre mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="btn btn-lg btn-primary btn-sm" type="submit">
							Se connecter
						</button>
					</form>
					{# fin du form de connexion #}
				</div>
				<div class="col-sm-1 col-md-1 d-none d-sm-block d-md-block" id="vl"></div>
				<div class="col-sm-6 col-md-5">
					{{ render(path('register')) }}
				</div>
			</div>
		</div>
		<style>
			#vl {
				border-left: 1.4px solid black;
				height: 800px;
				margin-left: 50px;
				padding-right: 0 !important;
				margin-top: 40px;
			}

			#client-form-cont {
				margin-top: 100px;
			}
			#txt-client {
				margin-top: 100px !important;
			}
            #txt1{
                text-align:justify;
            }
            #txt2{
                text-align:justify;
            }
            #espace-client{
                margin-bottom:15px;
            }

		</style>

	{% endif %}
	{# fin du container #}


{% endblock %}
