{% extends 'base.html.twig' %}
{% block title %}Hello OuvragesController!
{% endblock %}
{% block body %}
	<!-- script js pour afficher texte en position absolue -->

	{% block javascripts %}
		<script type="text/javascript">
			var myLayer = document.createElement('div');
myLayer.id = 'bookingLayer';
myLayer.style.position = 'relative';
myLayer.style.zIndex = 1;
myLayer.style.left = '590px';
myLayer.style.top = '795px';
myLayer.style.width = '160px';
myLayer.style.height = '145px';
myLayer.style.padding = '10px';
myLayer.style.background = '#11ffee00';
myLayer.style.color = '#ffffff';
myLayer.style.fontSize = "15px";
myLayer.style.textShadow = "1px 0 10px black";
myLayer.style.fontFamily = "Montserrat";
myLayer.style.textAlign = "center";
myLayer.innerHTML = 'Texte grid';
document.body.appendChild(myLayer);
// fonctions pour changer texte du bloc
function changeText(text) {
var display = document.getElementById('bookingLayer');
display.innerHTML = "";
display.innerHTML = text;
}
// texte par défaut
function defaultText() {
var display = document.getElementById('bookingLayer');
display.innerHTML = "";
display.innerHTML = "passez le curseur sur un ouvrage";
}
// responsive
//sinon essayer avec les breakpoints
var a = window.matchMedia("(max-width: 1275px)")
var b = window.matchMedia("(max-width: 1090px)")
var c = window.matchMedia("(max-width: 990px)")
var d = window.matchMedia("(max-width: 965px)")
var e = window.matchMedia("(max-width: 930px)")
var f = window.matchMedia("(max-width: 884px)")
var g = window.matchMedia("(max-width: 803px)")
var h = window.matchMedia("(max-width: 763px)")
var i = window.matchMedia("(max-width: 670px)")
var j = window.matchMedia("(max-width: 623px)")
var k = window.matchMedia("(max-width: 594px)")
var l = window.matchMedia("(max-width: 584px)")
var m = window.matchMedia("(max-width: 548px)")
var n = window.matchMedia("(max-width: 530px)")

function responsivea(x) {
if (x.matches) {
myLayer.style.top = '800px';


} else {}
}
function responsiveb(x) {
if (x.matches) {
myLayer.style.top = '800px';


} else {}
}
function responsivec(x) {
if (x.matches) {
myLayer.style.left = '390px';


} else {}
}
function responsived(x) {
if (x.matches) {
myLayer.style.left = '374px';
myLayer.style.top = '820px';


} else {}
}
function responsivee(x) {
if (x.matches) {
myLayer.style.left = '362px';
myLayer.style.top = '840px';


} else {}
}
function responsivef(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '850px';


} else {}
}
function responsiveg(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '950px';


} else {}
}
function responsiveh(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '970px';


} else {}
}
function responsivei(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '990px';


} else {}
}
function responsivej(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '1000px';


} else {}
}
function responsivek(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '1050px';


} else {}
}
function responsivel(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '1090px';


} else {}
}
function responsivem(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '1110px';

} else {}
}
function responsiven(x) {
if (x.matches) {
myLayer.style.left = '0px';
myLayer.style.top = '1200px';


} else {}
}



a.addListener(responsivea)
b.addListener(responsiveb)
c.addListener(responsivec)
d.addListener(responsived)
e.addListener(responsivee)
f.addListener(responsivef)
g.addListener(responsiveg)
h.addListener(responsiveh)
i.addListener(responsivei)
j.addListener(responsivej)
k.addListener(responsivek)
l.addListener(responsivel)
m.addListener(responsivem)
n.addListener(responsiven)
{# changer la disposition du texte quand on resize #}
function resize(){
responsivea(a);
responsiveb(b)
responsivec(c)
responsived(d)
responsivee(e)
responsivef(f)
responsiveg(g)
responsiveh(h)
responsivei(i)
responsivej(j)
responsivek(k)
responsivel(l)
responsivem(m)
responsiven(n)
}

window.onresize=resize



		</script>
	{% endblock %}
	<div id="ouvrages_spec" style="background-image: url('{{asset('images/header/carpentry3.png')}}')">
		<p id="ouv_spec" style="font-size:48px;font-weight:700;font-family:'Montserrat';color:white;text-shadow: black 1px 0 10px">Ouvrages spécifiques</p>
	</div>
	<section id="whitespace"></section>

	<section id="palette">
		<h1 id="large">Large palette de créations</h1>
		<style>
			#large {
				text-align: center;
				color: #95683E;
				font-weight: 700;
				font-size: 48px;
				font-family: Helvetica;
			}
			.conteneur {
				display: flex;
				margin-left: 100px;
				margin-right: 100px;
				margin-top: 50px;
				width: 80%;
				justify-content: space-around;
				column-gap: 100px;
			}
		</style>

		<div class="container" id="textes">
			<div class="row">
				<div class="col-sm" id="cont_txt1">
					Grâce à notre large palette de créations, allant de la construction d’une devanture de commerce à celle d’un poulailler, nous sommes en mesure de répondre à tous les besoins pour vos projets.
				</div>
				<div class="col-sm" id="cont_txt2">
					Toutes nos fabrications intérieures et extérieures sont exécutées dans notre atelier à partir de matériaux nobles et sont réalisées par des professionnels qualifiés.
				</div>
			</div>
		</div>
	</section>
	{# le hexa grid #}
	<section id="lab">
	{#whitespace#}
	
	

		<article>


			<!-- ça change le texte quand on hover -->
			<div class="lab_item" >
				<div class="hexagon hexagon2inv">
					<div class="hexagon-in1">
						<div class="hexagon-in2-1"></div>
					</div>
				</div>
			</div>
			<div class="lab_item" onmouseover="changeText('Le porche de David')" onmouseout="defaultText()">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2-1" style="background-image: url('{{asset('images/hexa_grid/1.jpg')}}')"></div>
					</div>
				</div>
			</div>

			<div class="lab_item" onmouseover="changeText('Projet de cabane dans les arbres')" onmouseout="defaultText()">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2-2" style="background-image: url('{{asset('images/hexa_grid/2.jpg')}}')"></div>
					</div>
				</div>
			</div>
			<div class="lab_item">
				<div class="hexagon hexagon2inv">
					<div class="hexagon-in1">
						<div class="hexagon-in2-1"></div>
					</div>
				</div>
			</div>
			<div class="lab_item" onmouseover="changeText('rue Rio Grande')" onmouseout="defaultText()">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2-3" style="background-image: url('{{asset('images/hexa_grid/3.jpg')}}')"></div>
					</div>
				</div>
			</div>

			<div class="lab_item">
				<div class="hexagon hexagon2inv">
					<div class="hexagon-in1">
						<div class="hexagon-in2-1"></div>
					</div>
				</div>
			</div>
			<div class="lab_item" onmouseover="changeText('Le toit de Sam')" onmouseout="defaultText()">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2-4" style="background-image: url('{{asset('images/hexa_grid/4.jpg')}}')"></div>
					</div>
				</div>
			</div>

			<div class="lab_item">
				<div class="hexagon hexagon2inv">
					<div class="hexagon-in1">
						<div class="hexagon-in2-1"></div>
					</div>
				</div>
			</div>

			<div class="lab_item" onmouseover="changeText('Le pont de Mandi')" onmouseout="defaultText()">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2-5" style="background-image: url('{{asset('images/hexa_grid/5.jpg')}}')"></div>
					</div>
				</div>
			</div>


			<div class="lab_item" onmouseover="changeText('Le pont de Ralph')" onmouseout="defaultText()">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2-6" style="background-image: url('{{asset('images/hexa_grid/6.jpg')}}')"></div>
					</div>
				</div>
			</div>

		</article>
	</section>
	{# fin du hexagrid #}
	<section id="rdv">
		<style>
			.conteneur2 {
				display: flex;
				margin: 50px;
				width: 95%;
				justify-content: space-around;
			}
		</style>

		<!--
									<div class="conteneur2">
										<div>
											<p id="travaux">Nos travaux vous intéressent ?
											</p>
										</div>
										<div>
											<a id="prendre_rdv">Prendre RDV</a>
										</div>
									</div>
									avant bootstrap
						-->

		<div class="container">
			<div class="row">
				<div class="col-6" id="travaux">
					Nos travaux vous intéressent ?
				</div>
				<div class="col-6" id="prendre_rdv">
					Prendre RDV
				</div>
			</div>

		</section>

	{% endblock %}
