{% extends 'base.html.twig' %}
{% block title %}Nous Rejoindre{% endblock %}
{% form_theme candidat_form 'bootstrap_5_layout.html.twig' %}
{% block body %}
<div class="container shadow-sm p-5 my-5 bg-white rounded">
    <div class="row blank-3">
        <div>
            <h1 class="tittle">Intitulé du poste</h1>
        </div>
    </div>
    <div class="row blank-3">
        <div>
            <h2>Type de contrat</h2>
        </div>
        <div>
        </div>
    </div>
    <div class="row blank-3">
        <div>
            <h2>Description</h2>
        </div>
        <div>
        </div>
    </div>
    <div class="row blank-3">
        <div>
            <h2>Prérequis</h2>
        </div>
        <div>
        </div/>
    </div>
</div>
<div class="container shadow-sm p-5 my-5 bg-white rounded">
    <div class="row text-center">
        <h2 class="h2">Veuillez remplir ce formulaire</h2>
    </div>
    <div class="row form-candidat">
        <div class="col-5">
        {{form_start(candidat_form)}}
            {{ form_row(candidat_form.nom) }}
            {{ form_row(candidat_form.prenom) }}
            {{ form_row(candidat_form.telephone) }}
            {{ form_row(candidat_form.mail) }}
            {{ form_row(candidat_form.envoyer, {'attr': {'class': 'form-candidat-envoyer'}}) }}
        </div>
        <div class="col-2">
            {# {{ form_row(candidat_form.captcha, {'attr': {'class': 'form-candidat-captcha'}}) }} #}
        </div>
        <div class="col-5">
            {{ form_row(candidat_form.infoComp, {'attr': {'class': 'form-candidat-infoComp'}}) }}
            {{ form_row(candidat_form.cv) }}
            {{ form_row(candidat_form.lettreMotivation) }}
            <button type="button" class="btn btn-outline-primary form-candidat-retour" onclick = "history.back()">Retour</button>
        {{form_end(candidat_form)}}
        </div>
    </div>
</div>
{% endblock %}
