{% extends 'base.html.twig' %}

{% block title %}Nous Rejoindre{% endblock %}

{% block body %}
{% for offres in offres %}
<div class="container shadow-sm px-lg-5 px-4 py-4 my-5 bg-white rounded container-article">

    <div class="row pb-4">
        <div class="col-lg-12 col-md-12 text-center">
            <h2 style="color:#95683E;">{{offres.poste}}</h2>
        </div>
    </div>
    <h3>Type de contrat</h3>
    <div class="text-justify">
        <p>{{offres.typeContrat}}</p>
    </div>
    <h3>Description</h3>
    <div class="text-justify">
        <p>{{offres.description}}</p>
    </div>
    <h3>Prérequis</h3>
    <div class="text-justify">
        <p>{{offres.prerequis}}</p>
    </div>
</div>
{% endfor %}
{{form_start(candidat_form)}}
    {# {{ form_row(candidat_form.offre }} #}
    {{ form_row(candidat_form.nom, {'attr': {'class': 'form-candidat-nom'}}) }}
    {{ form_row(candidat_form.prenom, {'attr': {'class': 'form-candidat-prenom'}}) }}
    {{ form_row(candidat_form.telephone, {'attr': {'class': 'form-candidat-telephone'}}) }}
    {{ form_row(candidat_form.mail, {'attr': {'class': 'form-candidat-mail'}}) }}
    {{ form_row(candidat_form.cv, {'attr': {'class': 'form-candidat-objet'}}) }}
    {{ form_row(candidat_form.lettreMotivation, {'attr': {'class': 'form-candidat-message'}}) }}
     <div class="text-center">
        {% for message in app.flashes('success') %}
            <p>{{ message }}</p>
        {% endfor %}
        <button type="button" class="btn btn-outline-primary form-return-button" onclick = "history.back()">Retour</button>
    </div>
{{form_end(candidat_form)}}

<div align=center>
    <h2>Veuillez remplir ce formulaire</h2>
</div>
{% endblock %}