{% extends 'base.html.twig' %}
{% block title %}Nous Rejoindre{% endblock %}
{% block body %}
<div class="container">
    <div class="row blank-3">
        <div>
            <h1 class="tittle">Intitulé du poste</h1>
        </div>
    <div class="row blank-3">
        <div>
            <h2>Type de contrat<h2/>
        </div>
        <div>
        <div/>
    <div class="row blank-3">
        <div>
            <h2>Description<h2/>
        </div>
        <div>
        <div/>
    </div>
    <div class="row blank-3">
        <div>
            <h2>Prérequis<h2/>
        </div>
        <div>
        <div/>
    </div>
</div>
<div class="container shadow blank-3">
    <div align=center>
        <h2>Veuillez remplir ce formulaire</h2>
    </div>
    <div align=center>
        {{form_start(candidat_form)}}
            {{ form_row(candidat_form.nom) }}
            {{ form_row(candidat_form.prenom) }}
            {{ form_row(candidat_form.telephone) }}
            {{ form_row(candidat_form.mail) }}
            {{ form_row(candidat_form.infoComp, {'attr': {'class': 'form-candidat-infoComp'}}) }}
            {{ form_row(candidat_form.cv) }}
            {{ form_row(candidat_form.lettreMotivation) }}
            {# {{ form_row(candidat_form.captcha, {'attr': {'class': 'form-candidat-captcha'}}) }} #}
            {{ form_row(candidat_form.valider, {'attr': {'class': 'form-candidat-valider'}}) }}
        {{form_end(candidat_form)}}
    </div>
</div>


{% endblock %}
